
# test database
test.lck
test.properties
test.script

# database dumps
dump*

# old subversion folders
**/.svn/

# avoid real project plans used for testing
MSImport/**

# contents of build/deployment folders.
bin/**
deploy/**
build/**

/bin/
